[submodule "zsh/antidote"]
	path = zsh/antidote
	url = https://github.com/mattmc3/antidote/
[submodule "zsh/.zsh.d/antidote"]
	path = zsh/.zsh.d/antidote
	url = https://github.com/mattmc3/antidote/
[submodule "retroarch"]
	path = retroarch
	url = https://github.com/kenoiobi/retroarch/
[submodule "dwm"]
	path = dwm
	url = https://github.com/kenoiobi/dwm
[submodule "tpm"]
	path = tmux/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
