[Desktop Entry]
Exec=chromium --user-data-dir=/home/kayon/chrome/whats --class=whatsapp \\"https://web.whatsapp.com\\"
Name=whatsapp
Type=Application
Version=1.0
