[Desktop Entry]
Name=Clipped
GenericName[pt_BR]=Gerente da Prancheta Virtual
GenericName=Clipboard Manager
Comment[pt_BR]=Gerencie e cole a história da sua prancheta virtual
Comment=Manage and paste clipboard history
Categories=Office;Utility;TextTools;
Exec=com.github.davidmhewitt.clipped
Icon=com.github.davidmhewitt.clipped
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=clipped
Keywords=Clipboard;Manager;History;Copy;Paste;
Actions=Preferences;
StartupWMClass=com.github.davidmhewitt.clipped
X-GNOME-Autostart-enabled=true

[Desktop Action Preferences]
Name[pt_BR]=Preferências do Clipped
Name=Clipped Preferences
Exec=com.github.davidmhewitt.clipped --preferences
